:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcad3f);
  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px !important; */

  /* 全局定义搜索框颜色覆盖组件内的样式 */
  --van-gray-6: var(--primary-color);
}

body {
  font-size: 14px;
}

.hiddenTabBar {
  position: relative;
  /* 设置相对定位以后才能设置z-index的值*/
  z-index: 99;
  height: 100vh;
  background-color: #fff;
  /* 只在当前高度滚动，不设置的话是整个页面滚动 */
  overflow-y: auto;
}

.bottom-gray-line {
  border: 1px solid var(--line-color);
}